@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,600&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 

:root{
    --font-primaria: 'Montserrat', Arial;

    --branco-primario: #F9F9F9;
    --branco-secundario: #EBE9EA;

    --cinza-primario: #474747;
    --cinza-secundario: #181818;
}

.body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
}

.header1{
padding-top: 15px;
padding-bottom: 15px;
width: 100%;
background: #181818;
font-size: 16px;
color: #f9f9f9;
text-align: center;
font-weight: 500;
}

.header2{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background: #f9f9f9;
    font-size: 24px;
    color: #181818;
    text-align: center;
    font-weight: 600;
    }

.wallpapper{
    filter: brightness(50%);
    width: 100%;
    height: 378px;
    object-fit: cover;
}

.container1{
    display: flex;
    align-items: center;
}

.titulo{
    font-size: 32px;
    padding-bottom: 20px;
    font-weight: bold;
}

.sobre{
    font-size: 18px;
}

.texto1{
    position: absolute;
    color: #F9F9F9;
    width: 40%;
    padding-left: 81px;
}

.texto2{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.container-produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:39px 13px;
}

.caixa-produto{
    display: flex;
    width: 300px;
    height: 302px;
    background-color: #EBE9EA;  
    align-items: center;
    justify-content: center;
}

.produto{
    width: 250px;
    height: 150px;
}


.rodape{
    padding-top: 15px;
    margin-top: 100px;
    padding-bottom: 15px;
    width: 100%;
    background: #181818;
    font-size: 16px;
    color: #f9f9f9;
    text-align: center;
    font-weight: 500;
    }

    .caixa-produto:hover img {
         transform: scale(1.3); 
         transition: 1s all ease; 
        }

@media screen and (max-width: 500px)  {
    .texto1{
    width: 95%;
    padding-left: 20px;
    
}